
@using Microsoft.AspNetCore.Identity;
@using CerealECommerce.Models;  
@inject SignInManager<Customer> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <span> WELCOME @User.Claims.First(x => x.Type == "FullName").Value!</span>
            <form asp-page="/Account/Logout" method="post"> <button type="submit"> LOGOUT</button></form>
        }
        else
        {
            <a asp-page="/Account/Login">Login</a>
            <a asp-page="/Account/Register">Register</a>

        }

    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
