@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<!--Head is all of the prerequisite information about the webpage-->
<head>
    <title>Async Inn</title>
    <link rel="stylesheet" href="~/styles/style.css">
</head>
<body>
    <!-- page content goes in the body -->
    <header>
        <h1>Async Inn</h1>
        <nav>
            <ul>
                <li> <a asp-action="Index" asp-controller="Amenities">Amenities</a></li>
                <li> <a asp-action="Index" asp-controller="Hotels">Hotels</a></li>
                <li> <a asp-action="Index" asp-controller="Rooms">Rooms</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img id="hero" src="~/assets/hotelMain.jpg">
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum sapien ut maximus sodales. Sed dictum consequat purus, et vehicula eros. Maecenas ipsum lorem, eleifend sed augue ac, accumsan bibendum neque. Morbi vel ante eleifend, sagittis tortor non, ultricies arcu. In tempor fringilla purus non congue. Fusce tempor mauris vel lobortis mollis. Nullam tincidunt sapien quis vestibulum lobortis. Pellentesque finibus ornare nisl congue pretium. Etiam sit amet luctus dolor. Nunc aliquet, ligula non tristique sodales, ligula lacus porttitor nisl, eu vehicula nisi massa non leo. Duis at pharetra magna, nec ullamcorper lectus. Sed aliquet dolor nec sem egestas mattis.
            </p>
        </section>
        <ul>
            <li><img src="~/assets/hotel2.jpg"></li>
            <li><img src="~/assets/hotelHome.jpg"></li>
            <li><img src="~/assets/hotel5.jpg"></li>
        </ul>

    </main>


    <footer></footer>
    <script src="app.js"></script>
</body>
</html>